<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}StarCraft</title>
        <meta charset="utf8" />
        <link rel="icon" type="favicon" href="/assets/fav/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">  </head>
    <body>
        <header>
            <div class="grid-container">
                <div class="logo">
                    <a class="a_logo" href="/">STARCRAFT</a>
                </div>
                <div class="title">
                    <a>L'ENCYCLOPEDIE DE STARCRAFT</a>
                </div>
                <div class="noth">
                    <a class="a_none"></a>
                </div>
            </div>
            <nav>
                <a href="/">Acceuil</a>
                <a href="/units/terran">Terran</a>
                <a href="/units/zerg">Zerg</a>
                <a href="https://starcraft2.com/fr-fr/" target="blank" class="site_off">site Officiel ➤</a>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <img src="\assets\img\starcraft\logo_starcraft2_sc2.png" alt="STARCRAFT" />
        </footer>
    </body>
</html>