{% extends 'base.twig' %}

{% block main %}
{#----------------------------------------unit----------------------------------------------#}
<div class="container">
    <h3>The {{ unit.name }}</h3>
    <img src="{{ unit.avatar }}" class="unit_avatar" alt="{{ unit.name }}" />
    <div class="box_cont">
        <div class="box_teco">
            <img src="{{ unit.picture }}" class="unit_type"/>
            <p>Type : {{ unit.type ? unit.type : "--" }}</p>
        </div>
        <div class="box">
            <p><b>Armure : </b>{{ unit.armor ? unit.armor : "--" }}</p>
            <p><b>Production : </b>{{ unit.build_time ? unit.build_time : "--" }}s</p>
            <p><b>Dégâts : </b>{{ unit.damage ? unit.damage : "--" }}</p>
            <p><b>Point de vie : </b>{{ unit.hitpoints ? unit.hitpoints : "--" }}</p>
            <p><b>Energie Max : </b>{{ unit.max_energy ? unit.build_time : "--" }}</p>
            <p><b>Minéral : </b>{{ unit.mineral ? unit.mineral : "--" }}</p>
            <p><b>Porté : </b>{{ unit.range ? unit.range : "--" }}</p>
            <p><b>Vison : </b>{{ unit.sight ? unit.sight : "--" }}</p>
            <p><b>Vitesse : </b>{{ unit.speed ? unit.speed : "--" }}</p>
            <p><b>Energie de depart : </b>{{ unit.starting_energy ? unit.starting_energy : "--" }}</p>
            <p><b>Entretien : </b>{{ unit.supply ? unit.supply : "--" }}</p>
            <p><b>Gaz Vespene : </b>{{ unit.vespene_gas ? unit.vespene_gas : "--" }}</p>
        </div>
    </div>

    {#----------------------------------------unit abitilies----------------------------------------------#}
    {% if unit.abilities != NULL or unit.upgrades != NULL %}
    <div class="abi_up">
    {% endif %}
    {% if unit.abilities != NULL %}
        <div class="abilities">
            <h3>The Abilities</h3>
            <div class="abi_cont">
                {% for ability in unit.abilities %}
                    <div class="abi">
                        <div class="abi_title">
                            <img class="icon2" src="{{ ability.icon }}" alt="{{ ability.name }}" /> {{ ability.name }}
                        </div>
                        <div class="abi_description">
                            <p>{{ ability.description }}</p>
                        </div>
                        <div class="abi_box">
                            <p><b>Coût : </b>{{ ability.cost ? ability.cost : "--" }} {{ ability.cost_type }}</p>
                            <p><b>Durée : </b>{{ ability.duration ? ability.duration : "--" }}s</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {#----------------------------------------unit upgrades----------------------------------------------#}
    {% if unit.upgrades != NULL %}
        <div class="upgrades">
            <h3>The upgrades</h3>
            <div class="up_cont">
                {% for upunit in unit.upgrades %}
                <div class="up">
                    <div class="up_title">
                        <img class="icon2" src="{{ upunit.icon }}" alt="{{ upunit.name }}" /> {{ upunit.name }}
                    </div>
                    <div class="up_description">
                        <p>{{ upunit.description }}</p>
                    </div>
                    <div class="up_box">
                        <p><b>Production : </b>{{ upunit.build_time ? upunit.build_time : "--" }}s</p>
                        <p><b>Minéral : </b>{{ upunit.minerals ? upunit.minerals : "--" }}</p>
                        <p><b>Gaz Vespene : </b>{{ upunit.vespene_gas ? upunit.vespene_gas : "--" }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>
</div>


{% endblock %}