{% extends 'base.twig' %}

{% block main %}
    <section>
        <h2>{{race}}</h2>
        {% for unit in units %}
                <figure>                   
                    <figcaption>
                        <a href="/units/{{ race }}/{{ unit.slug }}">
                            <div class="content">
                                <p class="name"><h3>The {{ unit.slug}}</h3></p>
                            </div>
                            <img src="{{ unit.avatar }}" alt="{{ unit.name }}" />
                        </a>
                    </figcaption>
                </figure>
            </a>
        {% endfor %}
    </section>
{% endblock %}