@font-face {
    font-family: 'Starcraft';
    src: url('/assets/fonts/StarcraftNormal.ttf');
}
header{
    border-bottom: solid 0.5px rgb(212,175,55);
    background: rgb(34, 21, 112) url("../img/starcraft/bg_space_border.jpg") repeat scroll center top;
}

footer {
    margin-top: 70px;
    background: rgb(22, 22, 22);
    padding: 2em;
}

footer img{
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    gap: 1px 1px;
    grid-template-areas: "logo title noth";
}
  
.logo { 
    grid-area: logo;
}

.title { 
    grid-area: title;
    font-family: 'Starcraft';
    color: rgba(241, 195, 43, 0.863);
    text-shadow: 2px 2px 3px rgba(0, 0, 0);
    font-size: 2em;
    align-self: center;
    justify-self: center;
    font-style: italic;
}
header .a_none{
    grid-area: noth;
    margin-right: 30px;
    height: 112px;
    width: 300px;
    display: block;
}
header .a_logo{
    margin-left: 30px;
    height: 112px;
    width: 300px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background: url("../img/starcraft/starcraft_PNG66_2.png") no-repeat left center;
    color: transparent;
}

header .a_logo:hover{
    filter: brightness(130%);
}

nav{
    border-top: solid 0.5px rgb(212,175,55);
}

header nav{
    font-family: 'Montserrat';
    background: rgb(0, 0, 0);
    padding: 0 0.8em;
    background: rgb(34, 21, 112) url("../img/starcraft/stars.jpg") repeat scroll center top;
}

header nav a {
    font-family: 'Montserrat';
    text-transform: uppercase;
    display: inline-block;
    padding: 0.8em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid transparent;
}
header nav a:hover{
    color: rgb(241, 195, 43);
    border-bottom: 3px solid rgb(241, 195, 43);
}

header nav .site_off:hover{
    color: rgb(241, 195, 43);
    box-shadow: 0 0 0 1px rgb(241, 195, 43) inset;
    border-bottom: 3px solid rgb(241, 195, 43);
}

main section, main article {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

main article {
    row-gap: 0;
}
main section h2, main article h2 {
    grid-column: 1/3;
    font-family: 'Staatliches', cursive;
    color: rgba(0, 8, 53, 0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 3.6em;
    text-align: center;
}

main section a, main .grid aside a{
    display: block;
    text-decoration: none;
}
main section a figure, main .grid aside a, main article dl, main article img{
    margin: 0;
    max-width: 300px;
    margin: 0 auto;
    background-color: rgb(253, 169, 53);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

main article img {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 2px solid rgb(3, 0, 77);
    display: block;
    margin: 0 auto;
}

main article dl {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 2px solid rgb(10, 3, 70);
    padding: 0.8em 0;
}

main article dl dt, main article dl dd {
    padding: 0 0.8em;
    display: block;
    margin: 0;
}

main article dl dt {
    margin-top: 15px;
    font-weight: bold;
}

main article dl dd {
    text-align: right;
    border-bottom: 1px dotted rgb(0, 0, 0);
    padding-left: 0;
    padding-bottom: 15px;
    font-style: italic;
}

main article dl dd:last-of-type {
    border-bottom: none;
}

main article .description {
    font-size: 1.6em;
    color: #FFF;
}

main .grid aside a figure {
    margin: 0;
}

main .grid aside a {
    margin-bottom: 15px;
}

main section a figure:hover, main .grid aside a figure:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

main section a figure img, main .grid aside a figure img{
    display: block;
    width: 100%;
}

main section a figure figcaption, main .grid aside a figure figcaption {
    padding: 0.3em;
    border-bottom: 3px solid transparent;
    color: rgb(3, 69, 145);
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 1.9em;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}

main section a:hover figure figcaption, main .grid aside a:hover figure figcaption {
    border-bottom-color: rgb(3, 69, 145);
}

main .grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr .5fr;
}

main .grid aside h3 {
    font-family: 'Staatliches', cursive;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 2.6em;
    text-align: center;
}
.zerg {
    margin-top: 70px;
    font-family: 'Starcraft';
    color: rgba(123, 2, 153, 0.938);
    text-shadow: 2px 2px 3px rgba(0, 0, 0);
    font-size: 3.6em;
    text-align: center;
}
.terran {
    margin-top: 70px;
    font-family: 'Starcraft';
    color: rgb(33, 105, 172, 0.938);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 3.6em;
    text-align: center;
}
.protoss {
    margin-top: 70px;
    font-family: 'Starcraft';
    color: rgba(212, 175, 5, 0.938);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 3.6em;
    text-align: center;
}
.zerg:hover, .terran:hover, .protoss:hover{
    filter: brightness(200%);
}
footer {
    border-top: 2mm ridge rgba(241, 195, 43, 0.6);
    margin-top: 150px;
    background-image: url('../img/starcraft/stars.jpg');
    padding: 2em;
}
.img_terran {
    background-size: 500px 500px;
    background-image: url('../img/starcraft/terran_logo.png');
}
.img_zerg {
    background-size: 500px 500px;
    background-image: url('../img/starcraft/zerg_logo.png');
}
.img_protoss {
    background-size: 500px 500px;
    background-image: url('../img/starcraft/protoss_logo.png');
}
#video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 5s opacity;
  }